<html>
    <head>
        <style> 
            .top_container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;                
                align-content: flex-start; 
                flex-wrap: wrap;
            } 
            .submit_button {
                background-color: #008CBA;;
                color: white;
                padding: 15px 32px;
                border: 2px;
                text-align: center;
                display: inline-block;
                font-size: 15px;
                margin-top: 10px;
            }           
        </style>
    </head>
    <body>
        
    <form action="/" method="post">
        <div class="top_container">
            <div> Level : <input type="text" name="level" value="{{ .Level }}"/></div>
            <div> Runs : <input type="text" name="runs" value="{{ .NumberOfRuns }}"/></div>
            <div> Spells per Run : <input type="text" name="spells_per_run" value="{{ .SpellsPerRun }}"/></div>
            <div> Rules: 
                <ul>
                    <li>No Backlash on Failure <input type="checkbox" name="no_backlash_on_fail" {{if .Strategies.NoBacklashOnFail}}checked{{end}} /></li>
                    <li>Backlash on Spell Level <input type="checkbox" name="remove_current_level" {{if .Strategies.RemoveCurrentLevel}}checked{{end}} /></li>
                </ul>
            </div>
            <div>Strategy: 
                <ul>
                    <li>Max First <input type="checkbox" name="strategy_max_first" {{if .Strategies.MaxFirst}}checked{{end}} /></li>
                </ul>
            </div>
            <div><input type="submit" class="submit_button" value="Run" /></div>
        </div>
    </form>

    <ul>
        <li>Level: {{ .Level }} </li>
        <li>Runs : {{ .NumberOfRuns }}  </li>
        <li># Success:  {{ .NumberOfSuccess }} </li>
	    <li># Failures: {{ .NumberOfFailures }} </li>
        <li>Max Success: {{ .MaxSuccess }} </li>
        <li>Max Failures: {{ .MaxFailures }} </li>
        <li>Success: {{ .SuccessTimes }} </li>
        <li>Failures: {{ .FailureTimes }} </li>
    </ul>

    </body>
</html>